html, body {
    height: 100%; 
    margin: 0; 
    padding: 0;			
}

body .navbar {
	margin-bottom: 0;
	/*background-color: #252b30; */
}
div#googleMap {	
    position: absolute;
    width: 100%;
    height: 100%; 
}
 #map { 
    height: 100%; 
 }
 /*
 	Css da lista de estados brasileiros do mapa
 */
 ul#listaEstados {
 	list-style: none;
 	border: 0;
 	font-size: 1.2em;
 	color: #333;
 }
 ul#listaEstados li span {
 	cursor: pointer;
 }
 .dimming {
 	background: none !important;
 }


/* chartjs*/
.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;    
}
